
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  color:#484848;
}

body {
  display: flex;
  background: #262626;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
    display: block;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    font-size: 80px;
}
.first {
    animation: first 1.5s infinite;
    animation-delay: 1s;
}
.second {
    animation: first 1.5s infinite;
    animation-delay: 1.1s;
}
.third {
    animation: first 1.5s infinite;
    animation-delay: 1.2s;
}
.fourth {
    animation: first 1.5s infinite;
    animation-delay: 1.3s;
}
.fifth {
    animation: first 1.5s infinite;
    animation-delay: 1.4s;
}
.sixth {
    animation: first 1.5s infinite;
    animation-delay: 1.5s;
}
.seventh {
    animation: first 1.5s infinite;
    animation-delay: 1.6s;
}

.eighth {
    animation: first 1.5s infinite;
    animation-delay: 1.7s;
}
.nineth {
    animation: first 1.5s infinite;
    animation-delay: 1.8s;
}


@keyframes first
{
    0% {
        text-shadow: 0 0 4px #fff900, 0 0 15px #fff900, 0 0 20px #fff900, 0 0 40px #ff6c00, 0 0 60px #fff900, 0 0 120px #ff6c00, 0 0 100px #fff900, 0 0 150px #ff6c00;
        color: #fff900;}
    7% {
        text-shadow: none;
    }
    15% {
        color: #484848;
    }
}